*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}

body {
    height: 800px;
    background-color: #EAE7DD ;
    border-left: 4px inset black;
    border-right: 4px inset black;
    font-family: Arial, sans-serif
}


header{
    font-size: 22px;
    height: 134px;
    background-color: #99775C;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border-bottom: 4px inset black;
    border-top: 4px inset black;
    border-left: 4px inset black;
    border-right: 4px inset black;
}

.cabecera2{
    font-size: 18px;
}

.parte1{
    color: black;
}

.parte2{
    color: red;
}

.presentacion{
    margin-left: 0.5cm;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.explicacion_presentacion{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    text-align: justify;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.explicacion{
    margin-left: 0.5cm;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.explicacion_explicacion{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    text-align: justify;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link{
    color: white;
}

.pagina_F1{
    text-align: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.presentacionF1{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    text-align: justify;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Pilotos_y_equipos{
    text-align: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pilotos_equipos{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    text-align: justify;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Calendario_2025{
    text-align: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.calendario_confoto{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    text-align: justify;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calendario_confoto-1{
    width: 100%;
    border-radius: 8px;
    margin-top: 0.5px;
}

.contacto{
    text-align: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contacto-1{
    text-align: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.presentacion_enlace{
    text-align: center;
    font-size: 24px;
}

.personas_enlace-1{
    background-color: #99775C;
    text-align: center;
    margin-left: 10cm;
    margin-right: 10cm;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    
}

.personas_enlace-2{
    background-color: #99775C;
    text-align: center;
    margin-left: 10cm;
    margin-right: 10cm;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    
}

.personas_enlace-3{
    background-color: #99775C;
    text-align: center;
    margin-left: 10cm;
    margin-right: 10cm;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    
}

.personas_enlace-4{
    background-color: #99775C;
    text-align: center;
    margin-left: 10cm;
    margin-right: 10cm;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    
}

.titulo_grado{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.primer_a単o{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primer_cuatri{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primer_cuatri_a{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.segundo_cuatri{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.segundo_cuatri_a{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}


.segundo_a単o{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primer_cuatri-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primer_cuatri_a-2{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.segundo_cuatri-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.segundo_cuatri_a-2{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.tercer_a単o{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primer_cuatri-3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primer_cuatri_a-3{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.segundo_cuatri-3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.segundo_cuatri_a-3{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.cuarto_a単o{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primer_cuatri-4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primer_cuatri_a-4{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.segundo_cuatri-4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.segundo_cuatri_a-4{
    background-color: #99775C;
    color: black;
    text-align: justify;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}